// Основные цвета
$color-primary-dark: #643F82;
$color-primary-light: #8151A8;
$color-accent: #F6A200;

// Дополнительные цвета
$color-success-dark: #37AC00;
$color-success-light: #41CA00;

// Нейтральные цвета
$color-white: #ffffff;
$color-gray-light: #94A3B8;
$color-gray-lighter: #CBD5E1;
$color-black: #000000;